<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="fubao.rpc.demo.server"/>

    <context:property-placeholder location="classpath:rpc-server.properties"/>

    <bean id="serviceRegistry" class="fubao.rpc.framework.registry.impl.LocalFileServiceRegistry">
    </bean>
<!--    <bean id="serviceRegistry" class="ZookeeperServiceRegistry">-->
<!--        <constructor-arg name="registryAddress" value="${rpc.registry_address}"/>-->
<!--    </bean>-->

    <bean id="rpcServer" class="fubao.rpc.framework.transport.netty.NettyRpcServer">
        <property name="serviceAddress" value="${rpc.service_address}"/>
        <property name="serviceRegistry" ref="serviceRegistry"/>
<!--        <property name="encoder" ref="encoder"/>-->
<!--        <property name="decoder" ref="decoder"/>-->
        <property name="localServiceContext" ref="localServiceContext"/>
    </bean>
<!--    <bean id="encoder" class="fubao.rpc.framework.transport.netty.ProtobufCodec">-->
<!--        <property name="genericClass" value="Response"/>-->
<!--    </bean>-->
<!--    <bean id="decoder" class="fubao.rpc.framework.transport.netty.ProtobufCodec">-->
<!--        <property name="genericClass" value="Invocation"/>-->
<!--    </bean>-->
    <bean id="localServiceContext" class="fubao.rpc.framework.provider.LocalServiceContext">
    </bean>

</beans>